@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --color-dark-blue: #0a083a;
  --color-white: #fff;
  --color-blue: #315bff;
  --color-green: #02be83;
  --color-orange: #fe7831;
  --color-magenta: #ff3c78;
  --color-gray-600: #6c6b6b;
  --color-gray-500: #757575;
  --color-gray-400: #a4a4a3;
  --color-gray-300: #c1c0c0;
  --color-gray-200: #ebebea;
  --color-gray-100: #f5f5f5;
  --color-low-opacity: #00000080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 56px;
  line-height: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

.container {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--color-dark-blue);
}

a{
  text-decoration: none;
  color: var(--color-magenta);
}
img{
  max-width: 100%;
}

.btn{
  position: relative;
  width: max-content;
  padding: 15px 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--color-magenta);
  text-transform: capitalize;
  color: var(--color-white);
  overflow: hidden;
  background-color: var(--color-magenta);
  box-shadow: 0 10px 10px #ff3c7644;
  transition: background-color 0.3s;
}
.btn::after{
  content: attr(data-after);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-magenta);
  background-color: white;
  transition: all 0.3s;
}
.btn:hover::after{
  top: 0;
  width: 100%;
  height: 100%;
}

.navbar{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  z-index: 999;
}

.logo{
  color: var(--color-magenta);
}
nav .nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-links li{
  list-style: none;
  margin: 0 40px;
}
nav .nav-links li a{
  font-size: 16px;
  position: relative;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--color-dark-blue);
  transition: all 0.3s;
}

nav .nav-links li a:hover,
nav .nav-links li a.active{
  color: var(--color-magenta);
}

nav .nav-links li a::after{
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  opacity: 0;
  transition: bottom 0.3s 0.3s, width 0.3s, 
  border-radius 0s 0.3s,
  height 0.3s 0.3s, opacity 0.3s 0.1s;
  transform: translatex(-50%);
  background-color: var(--color-magenta);
}

nav .nav-links li a:not(.active):hover::after{
  bottom: -15px;
  width: 100%;
  border-radius: 5px;
  opacity: 1;
  height: 2px;
  transition: bottom 0.3s, width 0.3s 0.3s, 
  border-radius 0s 0.3s,
  height 0.3s 0.3s, opacity 0.3s;
}

nav .nav-links li a.active::after{
  bottom: -15px;
  opacity: 1;
}

nav .icons{
  display: flex;
  align-items: center;
}
nav .icons i{
  position: relative;
  font-size: 20px;
  color: var(--color-dark-blue);
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.3s;
}
nav .icons i:hover{
  color: var(--color-magenta);
}

nav .icons i[data-count]::after{
  content: attr(data-count);
  position: absolute;
  bottom: 2px;
  right: -2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-magenta);
}

.header{
  background-color: var(--color-gray-100);
}
header{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

header .left{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header .left h1{
  font-size: 80px;
  line-height: 100px;
  margin-bottom: 30px;
}
header .left p{
  max-width: 400px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 50px;
  color: var(--color-gray-600);
}

.cta{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
}

.cta i{
  color: var(--color-magenta);
  font-size: 20px;
}

header .specs{
  display: flex;
  gap: 50px;
}
header .specs div{
  display: flex;
  align-items: center;
  gap: 10px;
}